<div class="max-w-sm">
  <%= kui(:field) do %>
    <%= kui(:field, :label, for: :url) { "URL" } %>
    <%= kui(:input_group) do %>
      <%= kui(:input_group, :addon) { "https://" } %>
      <%= kui(:input, type: :text, id: :url, placeholder: "example.com") %>
    <% end %>
  <% end %>
</div>
