<div class="max-w-sm space-y-4">
  <%= kui(:input_group) do %>
    <%= kui(:input_group, :addon) { "https://" } %>
    <%= kui(:input, type: :text, placeholder: "example.com") %>
  <% end %>

  <%= kui(:input_group) do %>
    <%= kui(:input_group, :addon) { "$" } %>
    <%= kui(:input, type: :number, placeholder: "0.00") %>
  <% end %>

  <%= kui(:input_group) do %>
    <%= kui(:input_group, :addon) { "@" } %>
    <%= kui(:input, type: :text, placeholder: "username") %>
  <% end %>
</div>
