<div class="max-w-sm space-y-4">
  <%# Both prefix and suffix %>
  <%= kui(:input_group) do %>
    <%= kui(:input_group, :addon) { "$" } %>
    <%= kui(:input, type: :number, placeholder: "0.00") %>
    <%= kui(:input_group, :addon, align: :end) { "USD" } %>
  <% end %>

  <%# Icon prefix and text suffix %>
  <%= kui(:input_group) do %>
    <%= kui(:input_group, :addon) do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
      </svg>
    <% end %>
    <%= kui(:input, type: :text, placeholder: "Search...") %>
    <%= kui(:input_group, :addon, align: :end) do %>
      <%= kui(:kbd) { "⌘K" } %>
    <% end %>
  <% end %>
</div>
