<div class="max-w-sm space-y-4">
  <%# Search icon suffix %>
  <%= kui(:input_group) do %>
    <%= kui(:input, type: :search, placeholder: "Search...") %>
    <%= kui(:input_group, :addon, align: :end) do %>
      <%= kiso_icon("search", class: "size-4") %>
    <% end %>
  <% end %>

  <%# Mail icon suffix %>
  <%= kui(:input_group) do %>
    <%= kui(:input, type: :email, placeholder: "you@example.com") %>
    <%= kui(:input_group, :addon, align: :end) do %>
      <%= kiso_icon("mail", class: "size-4") %>
    <% end %>
  <% end %>
</div>
