<div class="flex flex-wrap gap-3 items-center">
  <%= kui(:button, href: "#", variant: :solid) { "Solid Link" } %>
  <%= kui(:button, href: "#", variant: :outline) { "Outline Link" } %>
  <%= kui(:button, href: "#", variant: :soft) { "Soft Link" } %>
  <%= kui(:button, href: "#", variant: :ghost) { "Ghost Link" } %>
  <%= kui(:button, href: "#", variant: :link) { "Link Style" } %>
</div>
