<div class="flex flex-wrap gap-3 items-center p-8">
  <%= kiso(:button, color: :primary) { "Primary" } %>
  <%= kiso(:button, color: :secondary) { "Secondary" } %>
  <%= kiso(:button, color: :success) { "Success" } %>
  <%= kiso(:button, color: :info) { "Info" } %>
  <%= kiso(:button, color: :warning) { "Warning" } %>
  <%= kiso(:button, color: :error) { "Error" } %>
  <%= kiso(:button, color: :neutral) { "Neutral" } %>
</div>
