<div class="flex gap-4 items-end">
  <%= kiso(:button, size: :xs) { "Extra Small" } %>
  <%= kiso(:button, size: :sm) { "Small" } %>
  <%= kiso(:button, size: :md) { "Medium" } %>
  <%= kiso(:button, size: :lg) { "Large" } %>
  <%= kiso(:button, size: :xl) { "Extra Large" } %>
</div>
