<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title).presence || "Kiso Dummy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= kiso_theme_script %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-background text-foreground antialiased">
    <%= yield %>
  </body>
</html>
