<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= content_for(:title).presence || "Kiso Dummy" %></title>
    <%= kiso_theme_script %>
    <%= stylesheet_link_tag :app, data: { turbo_track: "reload" } %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
