<%# locals: (size: :md, css_classes: "", **component_options) %>
<%= content_tag :div,
    class: Kiso::Themes::ColorModeSelect.render(class: css_classes),
    data: kiso_prepare_options(component_options, slot: "color-mode-select",
                               controller: "kiso--theme",
                               action: "kiso--select:change->kiso--theme#set"),
    **component_options do %>
  <%= kui(:select) do %>
    <%= kui(:select, :trigger, size: size) do %>
      <%= kui(:select, :value, placeholder: t("kiso.color_mode_select.theme")) %>
    <% end %>
    <%= kui(:select, :content) do %>
      <%= kui(:select, :item, value: "system") do %>
        <span class="inline-flex items-center gap-2"><%= kiso_component_icon(:monitor, class: "size-4 opacity-60") %> <%= t("kiso.color_mode_select.system") %></span>
      <% end %>
      <%= kui(:select, :item, value: "light") do %>
        <span class="inline-flex items-center gap-2"><%= kiso_component_icon(:sun, class: "size-4 opacity-60") %> <%= t("kiso.color_mode_select.light") %></span>
      <% end %>
      <%= kui(:select, :item, value: "dark") do %>
        <span class="inline-flex items-center gap-2"><%= kiso_component_icon(:moon, class: "size-4 opacity-60") %> <%= t("kiso.color_mode_select.dark") %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
