<div class="max-w-sm">
  <%= kui(:field_set) do %>
    <%= kui(:field_set, :legend, variant: :label) { "Show on desktop" } %>
    <%= kui(:field, :description) { "Select the items you want to display on your dashboard." } %>

    <%= kui(:field, orientation: :horizontal) do %>
      <%= kui(:checkbox, id: :cb_recents, name: "items[]", value: "recents", checked: true) %>
      <%= kui(:field, :content) do %>
        <%= kui(:field, :label, for: :cb_recents) { "Recents" } %>
        <%= kui(:field, :description) { "Shows your most recent activity." } %>
      <% end %>
    <% end %>

    <%= kui(:field, orientation: :horizontal) do %>
      <%= kui(:checkbox, id: :cb_home, name: "items[]", value: "home") %>
      <%= kui(:field, :content) do %>
        <%= kui(:field, :label, for: :cb_home) { "Home" } %>
        <%= kui(:field, :description) { "Shows your home dashboard." } %>
      <% end %>
    <% end %>

    <%= kui(:field, orientation: :horizontal) do %>
      <%= kui(:checkbox, id: :cb_apps, name: "items[]", value: "apps") %>
      <%= kui(:field, :content) do %>
        <%= kui(:field, :label, for: :cb_apps) { "Applications" } %>
        <%= kui(:field, :description) { "Shows your installed applications." } %>
      <% end %>
    <% end %>
  <% end %>
</div>
