<div class="max-w-md">
  <%= kui(:field_set) do %>
    <%= kui(:field_set, :legend) { "Address Information" } %>
    <%= kui(:field, :description) { "Enter your billing address." } %>

    <%= kui(:field_group) do %>
      <%= kui(:field) do %>
        <%= kui(:field, :label, for: :street) { "Street address" } %>
        <%= kui(:input, id: :street, name: :street, placeholder: "123 Main St") %>
      <% end %>

      <%= kui(:field) do %>
        <%= kui(:field, :label, for: :city) { "City" } %>
        <%= kui(:input, id: :city, name: :city, placeholder: "San Francisco") %>
      <% end %>

      <%= kui(:field) do %>
        <%= kui(:field, :label, for: :postal) { "Postal code" } %>
        <%= kui(:input, id: :postal, name: :postal, placeholder: "94103") %>
      <% end %>
    <% end %>
  <% end %>
</div>
