<div class="max-w-md">
  <%= kiso(:field_set) do %>
    <%= kiso(:field_set, :legend) { "Responses" } %>
    <%= kiso(:field, :description) { "Manage how you receive form responses." } %>

    <%= kiso(:field_group) do %>
      <%= kiso(:field, orientation: :horizontal) do %>
        <%= kiso(:switch, id: :email_resp, checked: true) %>
        <%= kiso(:field, :content) do %>
          <%= kiso(:field, :label, for: :email_resp) { "Email notifications" } %>
          <%= kiso(:field, :description) { "Receive email for each new response." } %>
        <% end %>
      <% end %>

      <%= kiso(:field, :separator) { "Or" } %>

      <%= kiso(:field, orientation: :horizontal) do %>
        <%= kiso(:switch, id: :webhook_resp) %>
        <%= kiso(:field, :content) do %>
          <%= kiso(:field, :label, for: :webhook_resp) { "Webhook" } %>
          <%= kiso(:field, :description) { "Send responses to a webhook URL." } %>
        <% end %>
      <% end %>

      <%= kiso(:field, :separator) %>

      <%= kiso(:field, orientation: :horizontal) do %>
        <%= kiso(:switch, id: :slack_resp) %>
        <%= kiso(:field, :content) do %>
          <%= kiso(:field, :label, for: :slack_resp) { "Slack integration" } %>
          <%= kiso(:field, :description) { "Post responses to a Slack channel." } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
