<div class="max-w-2xl">
  <%= kiso(:field_set) do %>
    <%= kiso(:field_set, :legend) { "Profile" } %>
    <%= kiso(:field, :description) { "This information will be displayed on your public profile." } %>

    <%= kiso(:field_group) do %>
      <%= kiso(:field, orientation: :responsive) do %>
        <%= kiso(:field, :label, for: :resp_name) { "Full name" } %>
        <%= kiso(:input, id: :resp_name, name: :name, placeholder: "Evil Rabbit") %>
      <% end %>

      <%= kiso(:field, orientation: :responsive) do %>
        <%= kiso(:field, :label, for: :resp_email) { "Email" } %>
        <%= kiso(:field, :content) do %>
          <%= kiso(:input, type: :email, id: :resp_email, name: :email, placeholder: "evil@rabbit.com") %>
          <%= kiso(:field, :description) { "This will be visible to other members." } %>
        <% end %>
      <% end %>

      <%= kiso(:field, orientation: :responsive) do %>
        <%= kiso(:field, :label, for: :resp_bio) { "Bio" } %>
        <%= kiso(:field, :content) do %>
          <%= kiso(:textarea, id: :resp_bio, name: :bio, rows: 3, placeholder: "Tell us about yourself...") %>
          <%= kiso(:field, :description) { "You can use markdown for formatting." } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
