<div class="max-w-sm space-y-6">
  <%# Simple switch %>
  <%= kui(:field, orientation: :horizontal) do %>
    <%= kui(:switch, id: :mfa, name: :mfa) %>
    <%= kui(:field, :content) do %>
      <%= kui(:field, :label, for: :mfa) { "Multi-factor authentication" } %>
      <%= kui(:field, :description) { "Add an extra layer of security to your account." } %>
    <% end %>
  <% end %>

  <%# Switch with just label %>
  <%= kui(:field, orientation: :horizontal) do %>
    <%= kui(:switch, id: :notifications, name: :notifications, checked: true) %>
    <%= kui(:field, :label, for: :notifications) { "Enable notifications" } %>
  <% end %>
</div>
