<div class="max-w-md">
  <%= kiso(:card) do %>
    <%= kiso(:card, :header) do %>
      <%= kiso(:card, :title) { "Recent Activity" } %>
      <%= kiso(:card, :description) { "Your latest project updates." } %>
    <% end %>
    <%= kiso(:card, :content) do %>
      <%= kiso(:empty_state, css_classes: "flex-none") do %>
        <%= kiso(:empty_state, :header) do %>
          <%= kiso(:empty_state, :media, variant: :icon) do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"/></svg>
          <% end %>
          <%= kiso(:empty_state, :title) { "No Activity" } %>
          <%= kiso(:empty_state, :description) { "When you start working on projects, your activity will show up here." } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
