<%= kiso(:empty_state) do %>
  <%= kiso(:empty_state, :header) do %>
    <%= kiso(:empty_state, :media, variant: :icon) do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/><path d="M2 10h20"/></svg>
    <% end %>
    <%= kiso(:empty_state, :title) { "No Projects Yet" } %>
    <%= kiso(:empty_state, :description) { "You haven't created any projects yet. Get started by creating your first project." } %>
  <% end %>
  <%= kiso(:empty_state, :content) do %>
    <div class="flex gap-2">
      <%= kiso(:button) { "Create Project" } %>
      <%= kiso(:button, variant: :outline) { "Import Project" } %>
    </div>
  <% end %>
<% end %>
