<%= kiso(:empty_state) do %>
  <%= kiso(:empty_state, :header) do %>
    <%= kiso(:empty_state, :media, variant: :icon) do %>
      <%= icon("folder") %>
    <% end %>
    <%= kiso(:empty_state, :title) { "No Projects Yet" } %>
    <%= kiso(:empty_state, :description) { "You haven't created any projects yet. Get started by creating your first project." } %>
  <% end %>
  <%= kiso(:empty_state, :content) do %>
    <div class="flex gap-2">
      <%= kiso(:button) { "Create Project" } %>
      <%= kiso(:button, variant: :outline) { "Import Project" } %>
    </div>
  <% end %>
<% end %>
