<div class="flex gap-4 items-center text-foreground">
  <%= kui(:toggle_group, type: :multiple, disabled: true) do %>
    <%= kui(:toggle_group, :item, value: "bold", disabled: true, "aria-label": "Toggle bold") do %>
      <%= kiso_icon("bold") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "italic", disabled: true, "aria-label": "Toggle italic") do %>
      <%= kiso_icon("italic") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "underline", disabled: true, "aria-label": "Toggle underline") do %>
      <%= kiso_icon("underline") %>
    <% end %>
  <% end %>
</div>
