<div class="flex gap-4 items-center text-foreground">
  <%= kui(:toggle_group, type: type, variant: variant, size: size) do %>
    <%= kui(:toggle_group, :item, value: "left", variant: variant, size: size, "aria-label": "Align left") do %>
      <%= kiso_icon("align-left") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "center", variant: variant, size: size, "aria-label": "Align center") do %>
      <%= kiso_icon("align-center") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "right", variant: variant, size: size, "aria-label": "Align right") do %>
      <%= kiso_icon("align-right") %>
    <% end %>
  <% end %>
</div>
