<div class="flex gap-4 items-center text-foreground">
  <%= kui(:toggle_group, type: :multiple, variant: :outline) do %>
    <%= kui(:toggle_group, :item, value: "bold", variant: :outline, "aria-label": "Toggle bold") do %>
      <%= kiso_icon("bold") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "italic", variant: :outline, "aria-label": "Toggle italic") do %>
      <%= kiso_icon("italic") %>
    <% end %>
    <%= kui(:toggle_group, :item, value: "underline", variant: :outline, "aria-label": "Toggle underline") do %>
      <%= kiso_icon("underline") %>
    <% end %>
  <% end %>
</div>
