<div class="space-y-4 text-foreground">
  <% %i[sm default lg].each do |size| %>
    <div>
      <p class="text-sm text-muted-foreground mb-2"><%= size %></p>
      <%= kui(:toggle_group, type: :single, size: size) do %>
        <%= kui(:toggle_group, :item, value: "left", size: size, "aria-label": "Align left") do %>
          <%= kiso_icon("align-left") %>
        <% end %>
        <%= kui(:toggle_group, :item, value: "center", size: size, "aria-label": "Align center") do %>
          <%= kiso_icon("align-center") %>
        <% end %>
        <%= kui(:toggle_group, :item, value: "right", size: size, "aria-label": "Align right") do %>
          <%= kiso_icon("align-right") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
