<div class="text-foreground flex items-center justify-center p-8">
  <%= kui(:dropdown_menu) do %>
    <%= kui(:dropdown_menu, :trigger) do %>
      <%= kui(:button, variant: :outline) { "Open" } %>
    <% end %>
    <%= kui(:dropdown_menu, :content) do %>
      <%= kui(:dropdown_menu, :item) do %>
        <%= kiso_icon("user") %>
        Profile
      <% end %>
      <%= kui(:dropdown_menu, :item) do %>
        <%= kiso_icon("credit-card") %>
        Billing
      <% end %>
      <%= kui(:dropdown_menu, :item) do %>
        <%= kiso_icon("settings") %>
        Settings
      <% end %>
      <%= kui(:dropdown_menu, :separator) %>
      <%= kui(:dropdown_menu, :item, variant: :destructive) do %>
        <%= kiso_icon("log-out") %>
        Log out
      <% end %>
    <% end %>
  <% end %>
</div>
