<div class="flex gap-4 items-center p-8">
  <%= kiso(:badge, size: :xs) { "Extra Small" } %>
  <%= kiso(:badge, size: :sm) { "Small" } %>
  <%= kiso(:badge, size: :md) { "Medium" } %>
  <%= kiso(:badge, size: :lg) { "Large" } %>
  <%= kiso(:badge, size: :xl) { "Extra Large" } %>
</div>
