<div class="flex flex-wrap gap-3 items-center p-8">
  <%= kiso(:badge, variant: :default) { "Default" } %>
  <%= kiso(:badge, variant: :primary) { "Primary" } %>
  <%= kiso(:badge, variant: :secondary) { "Secondary" } %>
  <%= kiso(:badge, variant: :success) { "Success" } %>
  <%= kiso(:badge, variant: :info) { "Info" } %>
  <%= kiso(:badge, variant: :warning) { "Warning" } %>
  <%= kiso(:badge, variant: :error) { "Error" } %>
  <%= kiso(:badge, variant: :outline) { "Outline" } %>
</div>
