<div class="max-w-md">
  <%= kui(:card) do %>
    <%= kui(:card, :header) do %>
      <%= kui(:card, :title) { "Recent Activity" } %>
      <%= kui(:card, :description) { "Your latest project updates." } %>
    <% end %>
    <%= kui(:card, :content) do %>
      <%= kui(:empty, css_classes: "flex-none") do %>
        <%= kui(:empty, :header) do %>
          <%= kui(:empty, :media, variant: :icon) do %>
            <%= kiso_icon("activity") %>
          <% end %>
          <%= kui(:empty, :title) { "No Activity" } %>
          <%= kui(:empty, :description) { "When you start working on projects, your activity will show up here." } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
